version: "3.9"

services:
  php:
    build:
      context: ./.docker/php
    container_name: yii2-php
    volumes:
      - ./:/var/www/html
    env_file:
      - .env
    environment:
      YII_ENV: ${YII_ENV}
      YII_DEBUG: ${YII_DEBUG}
      DB_DSN: "mysql:host=${MYSQL_HOST};dbname=${MYSQL_DATABASE}"
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
    depends_on:
      - db

  nginx:
    image: nginx:1.25
    container_name: yii2-nginx
    volumes:
      - ./:/var/www/html
      - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8081:80"
    depends_on:
      - php

  db:
    image: mysql:8.0
    container_name: yii2-mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: yii2-phpmyadmin
    environment:
      PMA_HOST: ${PMA_HOST}
      PMA_USER: ${PMA_USER}
      PMA_PASSWORD: ${PMA_PASSWORD}
    ports:
      - "8082:80"
    depends_on:
      - db

volumes:
  db_data: